<ion-header>
  <ion-toolbar>
    <ion-title translate>home.title</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    <ion-item lines="none">
        <ion-toggle (ionChange)="changeTheme($event)" slot="end"></ion-toggle>
      </ion-item>
    <!-- <ion-card> -->
      <!--  other stuff -->
      <!-- <ion-card-content> -->
        <p translate [translateParams]="{ lang: language }">home.invite</p>
  
        <ion-item> <!-- add this block -->
          <ion-label translate>Language</ion-label>
          <ion-select [(ngModel)]='language' (ionChange)='languageChange()' selected-text [placeholder]='"home.languageChangePlaceholder" | translate'>
             <ion-select-option *ngFor="let item of allLang" value={{item.notation}}>{{item.name}}</ion-select-option>
            <!-- <ion-select-option value='ru'>Russian</ion-select-option> -->
            <!-- <ion-select-option value='en'>English</ion-select-option>
            <ion-select-option value='ch'>Chinese</ion-select-option> -->

          </ion-select>
        </ion-item> <!-- add this block (end) -->
      <!-- </ion-card-content> -->
    <!-- </ion-card> -->

    <h1 translate>home.tabName</h1>
  <ion-button color="newcolor" >ABC</ion-button>
    <!--  other stuff -->
  </ion-content>

