<ion-header>
  <ion-toolbar>
    <ion-title slot="start" translate>home.title</ion-title>
    <ion-select slot="end" [(ngModel)]="selectedTheme" (ionChange)="changeTheme($event)">
      <ion-select-option value="light">Light</ion-select-option>
      <ion-select-option value="dark">Dark</ion-select-option>
      <ion-select-option value="solarized-dark">Solarized-Dark</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>
  
  <ion-content>
    <!-- <ion-item lines="none">
        <ion-toggle (ionChange)="changeTheme($event)" slot="end"></ion-toggle>
      </ion-item> -->

      <ion-label [translate]="'Select Theme'">Theme</ion-label>
      <ion-select [(ngModel)]="selectedTheme" (ionChange)="changeTheme($event)">
        <ion-select-option value="light">Light</ion-select-option>
        <ion-select-option value="dark">Dark</ion-select-option>
        <ion-select-option value="solarized-dark">Solarized-Dark</ion-select-option>
      </ion-select><br>




    <!-- <ion-card> -->
      <!--  other stuff -->
      <!-- <ion-card-content> -->
        <p translate [translateParams]="{ lang: language }">home.invite</p>
  
        <ion-item> <!-- add this block -->
          <ion-label translate>Language</ion-label>
          <ion-select [(ngModel)]='language' (ionChange)='languageChange()' selected-text [placeholder]='"home.languageChangePlaceholder" | translate'>
             <ion-select-option *ngFor="let item of allLang" value={{item.notation}}>{{item.name}}</ion-select-option>
            <!-- <ion-select-option value='ru'>Russian</ion-select-option> -->
            <!-- <ion-select-option value='en'>English</ion-select-option>
            <ion-select-option value='ch'>Chinese</ion-select-option> -->

          </ion-select>
        </ion-item> <!-- add this block (end) -->
      <!-- </ion-card-content> -->
    <!-- </ion-card> -->

    <h1 translate>home.tabName</h1>
  <ion-button color="newcolor" >ABC</ion-button>
  <ion-button routerLink='/infinite-scroll'>infiniteScroll</ion-button>
    <!--  other stuff -->
  </ion-content>

